<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbAPP-ID</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>6479308685</string>
	<key>FacebookClientToken</key>
	<string>337200292185561</string>
	<key>FacebookDisplayName</key>
	<string>TKF Döviz Çevirici</string>
</dict>
</plist>
